# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_USER=user
MYSQL_PASSWORD=userpassword
MYSQL_DATABASE=mydb

# Backend
BACKEND_DB_HOST=db
BACKEND_DB_PORT=3306
BACKEND_DB_USER=user
BACKEND_DB_PASSWORD=userpassword
BACKEND_DB_NAME=mydb